{% extends 'base.html.twig' %}

{% block title %}Hello newsletter!{% endblock %}

{% block body %}
<div >
        <div class="site-breadcrumb" style="background: url(img/bg/breadcrumb.jpg)">
                        <div class="container">
                            <h2 class="breadcrumb-title">Contact</h2>
                            <ul class="breadcrumb-menu">
                                <li><a href="index.html">Accueil</a></li>
                                <li class="active">Contact</li>
                            </ul>
                        </div>
        </div>
        <div class="contact-area py-120">
                <div class="container">
                    <div class="contact-wrapper">
                            <div class="col-md-6 align-self-center">
                                <div class="contact-form">
                                    <div class="contact-form-header">
                                        <h2>Envoyer un Message de Contact</h2>
                                        <p>Si vous avez une question ou une demande spécifique, n'hésiter pas de nous contacter.</p>
                                    </div>
                                    {{form(forme) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>
{% endblock %}